Projeto_iLuminar/node_red/112 esp32.json
[
    {
        "id": "a615eb77a6d71ec4",
        "type": "subflow",
        "name": "Esp32",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 120,
                "wires": [
                    {
                        "id": "d67fad19486213c4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 200,
                "wires": [
                    {
                        "id": "986d86274742f555",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d67fad19486213c4",
        "type": "http request",
        "z": "a615eb77a6d71ec4",
        "g": "21136c5bf947bf7a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost/connect",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "luminar",
                "valueType": "other",
                "valueValue": "esp32"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Basic THVtaW5hcjpFc3AzMgo="
            }
        ],
        "x": 350,
        "y": 140,
        "wires": [
            [
                "c3e950d1a73708df"
            ]
        ]
    },
    {
        "id": "c3e950d1a73708df",
        "type": "switch",
        "z": "a615eb77a6d71ec4",
        "g": "21136c5bf947bf7a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "connect!",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "connect!",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "d67fad19486213c4"
            ],
            [
                "e16a48c507f23ac4"
            ]
        ]
    },
    {
        "id": "e16a48c507f23ac4",
        "type": "template",
        "z": "a615eb77a6d71ec4",
        "g": "21136c5bf947bf7a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\"id\":\" \" , \"number_sensor\": 0, \"date\": \"\"}",
        "output": "json",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "56aca167591a9861"
            ]
        ]
    },
    {
        "id": "986d86274742f555",
        "type": "http request",
        "z": "a615eb77a6d71ec4",
        "g": "21136c5bf947bf7a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost/luminar",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "luminar",
                "valueType": "other",
                "valueValue": "esp32"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Basic THVtaW5hcjpFc3AzMgo="
            }
        ],
        "x": 690,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "56aca167591a9861",
        "type": "function",
        "z": "a615eb77a6d71ec4",
        "g": "21136c5bf947bf7a",
        "name": "json_randon",
        "func": "\nmsg.payload[\"id\"] = msg.topic\nmsg.payload[\"number_sensor\"] = Math.ceil(Math.random()*3)\nmsg.payload[\"date\"] = Date()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "986d86274742f555"
            ]
        ]
    },
    {
        "id": "21136c5bf947bf7a",
        "type": "group",
        "z": "a615eb77a6d71ec4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d67fad19486213c4",
            "c3e950d1a73708df",
            "e16a48c507f23ac4",
            "986d86274742f555",
            "56aca167591a9861"
        ],
        "x": 254,
        "y": 99
    },
    {
        "id": "72f702a92f68d934",
        "type": "tab",
        "label": "Aplication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7cb3d9d47c294c59",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "cb7a962830db8ade",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "65e6d48659bf3960",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 380,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "602705ce03699411",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "d0d61b1fe406f369",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 460,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "e110428d570f5253",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "7e565d06206439b7",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "56ec2fdd793e2a4a",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 500,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "8bafb85a65072086",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 540,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "e6b9e257d766c4a8",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 60,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "c88581ae39daee8f",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "6049b7a010f0dfcf",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "170cb52fb7eb42b3",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 180,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "c255a06b4a9f39d7",
        "type": "debug",
        "z": "72f702a92f68d934",
        "name": "Return",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "034525a6fa6ada62",
        "type": "function",
        "z": "72f702a92f68d934",
        "name": "gera_id",
        "func": "msg.topic = Math.ceil(Math.random()*14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "3a6ff8f9a931cc42"
            ]
        ]
    },
    {
        "id": "3a6ff8f9a931cc42",
        "type": "switch",
        "z": "72f702a92f68d934",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "e6b9e257d766c4a8"
            ],
            [
                "c88581ae39daee8f"
            ],
            [
                "6049b7a010f0dfcf"
            ],
            [
                "170cb52fb7eb42b3"
            ],
            [
                "7e565d06206439b7"
            ],
            [
                "e110428d570f5253"
            ],
            [
                "7cb3d9d47c294c59"
            ],
            [
                "cb7a962830db8ade"
            ],
            [
                "65e6d48659bf3960"
            ],
            [
                "602705ce03699411"
            ],
            [
                "d0d61b1fe406f369"
            ],
            [
                "56ec2fdd793e2a4a"
            ],
            [
                "8bafb85a65072086"
            ],
            [
                "50ec11ba63525084"
            ]
        ]
    },
    {
        "id": "50ec11ba63525084",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 580,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "73ee3740d6b20b2a",
        "type": "inject",
        "z": "72f702a92f68d934",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "034525a6fa6ada62"
            ]
        ]
    },
    {
        "id": "3ba08f8713f76484",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 880,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "5efa3b8203f746d0",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 920,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "e28ae4163a20e296",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 960,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "5d025aea88c51884",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1000,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "abf779f3b1c3dac3",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1040,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "7b11a94adff39af8",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 840,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "d11f45db14ad2259",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 800,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "ba817abf7e632114",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1080,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "cb332176f0239a28",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1120,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "d1b67ac0278f9e09",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 640,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "6e5ea845f1e239bd",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 680,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "4ff5f3b2ac3d7aec",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 720,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "92ea68bd6d28e6e7",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 760,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "3cc4470f10166067",
        "type": "debug",
        "z": "72f702a92f68d934",
        "name": "Return",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 900,
        "wires": []
    },
    {
        "id": "df572df1b33a6309",
        "type": "function",
        "z": "72f702a92f68d934",
        "name": "gera_id",
        "func": "msg.topic = Math.ceil(Math.random()*14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 880,
        "wires": [
            [
                "4b3e739560d727f5"
            ]
        ]
    },
    {
        "id": "4b3e739560d727f5",
        "type": "switch",
        "z": "72f702a92f68d934",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 530,
        "y": 880,
        "wires": [
            [
                "d1b67ac0278f9e09"
            ],
            [
                "6e5ea845f1e239bd"
            ],
            [
                "4ff5f3b2ac3d7aec"
            ],
            [
                "92ea68bd6d28e6e7"
            ],
            [
                "d11f45db14ad2259"
            ],
            [
                "7b11a94adff39af8"
            ],
            [
                "3ba08f8713f76484"
            ],
            [
                "5efa3b8203f746d0"
            ],
            [
                "e28ae4163a20e296"
            ],
            [
                "5d025aea88c51884"
            ],
            [
                "abf779f3b1c3dac3"
            ],
            [
                "ba817abf7e632114"
            ],
            [
                "cb332176f0239a28"
            ],
            [
                "ab87cf5fbb6cf752"
            ]
        ]
    },
    {
        "id": "ab87cf5fbb6cf752",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1160,
        "wires": [
            [
                "3cc4470f10166067"
            ]
        ]
    },
    {
        "id": "de44e92cb57d858a",
        "type": "inject",
        "z": "72f702a92f68d934",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 880,
        "wires": [
            [
                "df572df1b33a6309"
            ]
        ]
    },
    {
        "id": "170b872b5a72de3d",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1460,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "2b1a710f6a9c5e32",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1500,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "a9872604c5947b2a",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1540,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "d315bcc1fcf7874c",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1580,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "cebcbfab8d732014",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1620,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "7bb16cfe9e4e014a",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1420,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "b0b12c1c94013ea6",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1380,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "a8b0eebf1010d17d",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1660,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "6e0f279640d6dae1",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1700,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "987b4439f1f0fc30",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1220,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "8d9ff0d060d870d3",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1260,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "7630a7ca1bd38b4f",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1300,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "4fdb653261acd879",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1340,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "8a2099600817df1c",
        "type": "debug",
        "z": "72f702a92f68d934",
        "name": "Return",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d0a41c8d95c089f5",
        "type": "function",
        "z": "72f702a92f68d934",
        "name": "gera_id",
        "func": "msg.topic = Math.ceil(Math.random()*14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1460,
        "wires": [
            [
                "85c4d146e470b455"
            ]
        ]
    },
    {
        "id": "85c4d146e470b455",
        "type": "switch",
        "z": "72f702a92f68d934",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 530,
        "y": 1460,
        "wires": [
            [
                "987b4439f1f0fc30"
            ],
            [
                "8d9ff0d060d870d3"
            ],
            [
                "7630a7ca1bd38b4f"
            ],
            [
                "4fdb653261acd879"
            ],
            [
                "b0b12c1c94013ea6"
            ],
            [
                "7bb16cfe9e4e014a"
            ],
            [
                "170b872b5a72de3d"
            ],
            [
                "2b1a710f6a9c5e32"
            ],
            [
                "a9872604c5947b2a"
            ],
            [
                "d315bcc1fcf7874c"
            ],
            [
                "cebcbfab8d732014"
            ],
            [
                "a8b0eebf1010d17d"
            ],
            [
                "6e0f279640d6dae1"
            ],
            [
                "8a1e0a3771bce6a4"
            ]
        ]
    },
    {
        "id": "8a1e0a3771bce6a4",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1740,
        "wires": [
            [
                "8a2099600817df1c"
            ]
        ]
    },
    {
        "id": "2b51abcf2b684ed5",
        "type": "inject",
        "z": "72f702a92f68d934",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 1460,
        "wires": [
            [
                "d0a41c8d95c089f5"
            ]
        ]
    },
    {
        "id": "df2bfdae2138d98d",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2040,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "ff8a60696184ba4f",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2080,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "49b8e05c3c73d679",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2120,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "8d4a1f0e7dc43ed3",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2160,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "e276f1ed67c6d090",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2200,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "143798b5138fbf96",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2000,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "374d978cb3e0e778",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1960,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "8dc0c5abc4445510",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2240,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "446c64f4b026f367",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2280,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "704f7775e97f35df",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1800,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "cd9deb74b215a5a1",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1840,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "b2bb80deda6e9378",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1880,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "2bb320d021442e5b",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 1920,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "fb19db33136ce39d",
        "type": "debug",
        "z": "72f702a92f68d934",
        "name": "Return",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 2060,
        "wires": []
    },
    {
        "id": "fdc299e3ce0e9428",
        "type": "function",
        "z": "72f702a92f68d934",
        "name": "gera_id",
        "func": "msg.topic = Math.ceil(Math.random()*14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2040,
        "wires": [
            [
                "99cc4f16a770560e"
            ]
        ]
    },
    {
        "id": "99cc4f16a770560e",
        "type": "switch",
        "z": "72f702a92f68d934",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 530,
        "y": 2040,
        "wires": [
            [
                "704f7775e97f35df"
            ],
            [
                "cd9deb74b215a5a1"
            ],
            [
                "b2bb80deda6e9378"
            ],
            [
                "2bb320d021442e5b"
            ],
            [
                "374d978cb3e0e778"
            ],
            [
                "143798b5138fbf96"
            ],
            [
                "df2bfdae2138d98d"
            ],
            [
                "ff8a60696184ba4f"
            ],
            [
                "49b8e05c3c73d679"
            ],
            [
                "8d4a1f0e7dc43ed3"
            ],
            [
                "e276f1ed67c6d090"
            ],
            [
                "8dc0c5abc4445510"
            ],
            [
                "446c64f4b026f367"
            ],
            [
                "dc77902b70250a81"
            ]
        ]
    },
    {
        "id": "dc77902b70250a81",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2320,
        "wires": [
            [
                "fb19db33136ce39d"
            ]
        ]
    },
    {
        "id": "9d40b7039553928c",
        "type": "inject",
        "z": "72f702a92f68d934",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 2040,
        "wires": [
            [
                "fdc299e3ce0e9428"
            ]
        ]
    },
    {
        "id": "8d2b60fb1121a13c",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2620,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "f916acf5673d3875",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2660,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "d9968b56c3997246",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2700,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "207c2a94abd52e12",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2740,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "d3a5b1223f96cc95",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2780,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "7f929c2e9025385b",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2580,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "05f34ff5844dc875",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2540,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "485e7baa051ce7e6",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2820,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "e57fb225e2d72c07",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2860,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "5d6778b9fb9e99f0",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2380,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "8652e0a2306b4359",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2420,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "a7d76c4a47a77c36",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2460,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "c90b53262a737248",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2500,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "88adbc969b9cb11f",
        "type": "debug",
        "z": "72f702a92f68d934",
        "name": "Return",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 2640,
        "wires": []
    },
    {
        "id": "f20a438bc6f7c099",
        "type": "function",
        "z": "72f702a92f68d934",
        "name": "gera_id",
        "func": "msg.topic = Math.ceil(Math.random()*14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 2620,
        "wires": [
            [
                "035e0598987449b6"
            ]
        ]
    },
    {
        "id": "035e0598987449b6",
        "type": "switch",
        "z": "72f702a92f68d934",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 530,
        "y": 2620,
        "wires": [
            [
                "5d6778b9fb9e99f0"
            ],
            [
                "8652e0a2306b4359"
            ],
            [
                "a7d76c4a47a77c36"
            ],
            [
                "c90b53262a737248"
            ],
            [
                "05f34ff5844dc875"
            ],
            [
                "7f929c2e9025385b"
            ],
            [
                "8d2b60fb1121a13c"
            ],
            [
                "f916acf5673d3875"
            ],
            [
                "d9968b56c3997246"
            ],
            [
                "207c2a94abd52e12"
            ],
            [
                "d3a5b1223f96cc95"
            ],
            [
                "485e7baa051ce7e6"
            ],
            [
                "e57fb225e2d72c07"
            ],
            [
                "b289568c07fe625e"
            ]
        ]
    },
    {
        "id": "b289568c07fe625e",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2900,
        "wires": [
            [
                "88adbc969b9cb11f"
            ]
        ]
    },
    {
        "id": "abf3e3e84d249a1c",
        "type": "inject",
        "z": "72f702a92f68d934",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 2620,
        "wires": [
            [
                "f20a438bc6f7c099"
            ]
        ]
    },
    {
        "id": "5571b1a26a20034d",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3200,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "c297a9cc1187d8f6",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3240,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "48b9b909ae4d6928",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3280,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "02ac9e91e965595d",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3320,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "02b13f575913c9c4",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3360,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "0da79780cea2f9a4",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3160,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "271b925d45089730",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3120,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "edba7a7a156d3bf8",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3400,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "5eaeb6d12207b1dd",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3440,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "58cd0aea7852c133",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 2960,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "536181e9c09a6e9d",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3000,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "6f10afa98ae63275",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3040,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "b81442e8d59cc5f6",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3080,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "52a876de43296ad7",
        "type": "debug",
        "z": "72f702a92f68d934",
        "name": "Return",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 3220,
        "wires": []
    },
    {
        "id": "f8b841aef38579ff",
        "type": "function",
        "z": "72f702a92f68d934",
        "name": "gera_id",
        "func": "msg.topic = Math.ceil(Math.random()*14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 3200,
        "wires": [
            [
                "d811a5d90c47df4b"
            ]
        ]
    },
    {
        "id": "d811a5d90c47df4b",
        "type": "switch",
        "z": "72f702a92f68d934",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 530,
        "y": 3200,
        "wires": [
            [
                "58cd0aea7852c133"
            ],
            [
                "536181e9c09a6e9d"
            ],
            [
                "6f10afa98ae63275"
            ],
            [
                "b81442e8d59cc5f6"
            ],
            [
                "271b925d45089730"
            ],
            [
                "0da79780cea2f9a4"
            ],
            [
                "5571b1a26a20034d"
            ],
            [
                "c297a9cc1187d8f6"
            ],
            [
                "48b9b909ae4d6928"
            ],
            [
                "02ac9e91e965595d"
            ],
            [
                "02b13f575913c9c4"
            ],
            [
                "edba7a7a156d3bf8"
            ],
            [
                "5eaeb6d12207b1dd"
            ],
            [
                "baf7d64de516f96b"
            ]
        ]
    },
    {
        "id": "baf7d64de516f96b",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3480,
        "wires": [
            [
                "52a876de43296ad7"
            ]
        ]
    },
    {
        "id": "23b441cabe2dc9be",
        "type": "inject",
        "z": "72f702a92f68d934",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 3200,
        "wires": [
            [
                "f8b841aef38579ff"
            ]
        ]
    },
    {
        "id": "515c5eb60d18f809",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3780,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "121d140c31d732e6",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3820,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "0d06d1e265daa0b2",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3860,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "49a3647b91cdaf64",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3900,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "e123133826fe95ae",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3940,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "95ef1e455280f503",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3740,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "75687408dd6d12a9",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3700,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "88eecdf2e68c1569",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3980,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "516bf23dad29af94",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4020,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "fc50c288190a4f8d",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3540,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "f0908159948f4243",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3580,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "b462b0258099b99e",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3620,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "85746d724116eecf",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 3660,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "b0ac94d23b22acfc",
        "type": "debug",
        "z": "72f702a92f68d934",
        "name": "Return",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 3800,
        "wires": []
    },
    {
        "id": "95bdb0d282dfcdcd",
        "type": "function",
        "z": "72f702a92f68d934",
        "name": "gera_id",
        "func": "msg.topic = Math.ceil(Math.random()*14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 3780,
        "wires": [
            [
                "75897c509fa9a5ed"
            ]
        ]
    },
    {
        "id": "75897c509fa9a5ed",
        "type": "switch",
        "z": "72f702a92f68d934",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 530,
        "y": 3780,
        "wires": [
            [
                "fc50c288190a4f8d"
            ],
            [
                "f0908159948f4243"
            ],
            [
                "b462b0258099b99e"
            ],
            [
                "85746d724116eecf"
            ],
            [
                "75687408dd6d12a9"
            ],
            [
                "95ef1e455280f503"
            ],
            [
                "515c5eb60d18f809"
            ],
            [
                "121d140c31d732e6"
            ],
            [
                "0d06d1e265daa0b2"
            ],
            [
                "49a3647b91cdaf64"
            ],
            [
                "e123133826fe95ae"
            ],
            [
                "88eecdf2e68c1569"
            ],
            [
                "516bf23dad29af94"
            ],
            [
                "995d69b0df741536"
            ]
        ]
    },
    {
        "id": "995d69b0df741536",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4060,
        "wires": [
            [
                "b0ac94d23b22acfc"
            ]
        ]
    },
    {
        "id": "14c765477bd69160",
        "type": "inject",
        "z": "72f702a92f68d934",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 3780,
        "wires": [
            [
                "95bdb0d282dfcdcd"
            ]
        ]
    },
    {
        "id": "a878db192c32300d",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4360,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "34db89af46e87393",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4400,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "31be0f334140ba5a",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4440,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "20937eb5b058d3df",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4480,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "8e46bcd76c09a9bf",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4520,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "d10c0920859fb07a",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4320,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "ce9bf74f8e260862",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4280,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "1044701086a29bab",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4560,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "3467f3fbe5ae9a67",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4600,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "45f18c48be49a457",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4120,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "da8b83ce6e15ee1b",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4160,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "b65759b16031cdb2",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4200,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "819cc83aa10749ac",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4240,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "284229dde64589ce",
        "type": "debug",
        "z": "72f702a92f68d934",
        "name": "Return",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 4380,
        "wires": []
    },
    {
        "id": "ecebfd067ecd0225",
        "type": "function",
        "z": "72f702a92f68d934",
        "name": "gera_id",
        "func": "msg.topic = Math.ceil(Math.random()*14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 4360,
        "wires": [
            [
                "549ad3e8a540e590"
            ]
        ]
    },
    {
        "id": "549ad3e8a540e590",
        "type": "switch",
        "z": "72f702a92f68d934",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 530,
        "y": 4360,
        "wires": [
            [
                "45f18c48be49a457"
            ],
            [
                "da8b83ce6e15ee1b"
            ],
            [
                "b65759b16031cdb2"
            ],
            [
                "819cc83aa10749ac"
            ],
            [
                "ce9bf74f8e260862"
            ],
            [
                "d10c0920859fb07a"
            ],
            [
                "a878db192c32300d"
            ],
            [
                "34db89af46e87393"
            ],
            [
                "31be0f334140ba5a"
            ],
            [
                "20937eb5b058d3df"
            ],
            [
                "8e46bcd76c09a9bf"
            ],
            [
                "1044701086a29bab"
            ],
            [
                "3467f3fbe5ae9a67"
            ],
            [
                "bc443901db8b641a"
            ]
        ]
    },
    {
        "id": "bc443901db8b641a",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 4640,
        "wires": [
            [
                "284229dde64589ce"
            ]
        ]
    },
    {
        "id": "32b5ee4b530e7615",
        "type": "inject",
        "z": "72f702a92f68d934",
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 4360,
        "wires": [
            [
                "ecebfd067ecd0225"
            ]
        ]
    }
]