Projeto_iLuminar/node_red/Flow.json
[
    {
        "id": "a615eb77a6d71ec4",
        "type": "subflow",
        "name": "Esp32",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 120,
                "wires": [
                    {
                        "id": "d67fad19486213c4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 200,
                "wires": [
                    {
                        "id": "986d86274742f555",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "d67fad19486213c4",
        "type": "http request",
        "z": "a615eb77a6d71ec4",
        "g": "21136c5bf947bf7a",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost/connect",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "luminar",
                "valueType": "other",
                "valueValue": "esp32"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Basic THVtaW5hcjpFc3AzMgo="
            }
        ],
        "x": 350,
        "y": 140,
        "wires": [
            [
                "c3e950d1a73708df"
            ]
        ]
    },
    {
        "id": "c3e950d1a73708df",
        "type": "switch",
        "z": "a615eb77a6d71ec4",
        "g": "21136c5bf947bf7a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "connect!",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "connect!",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "d67fad19486213c4"
            ],
            [
                "e16a48c507f23ac4"
            ]
        ]
    },
    {
        "id": "e16a48c507f23ac4",
        "type": "template",
        "z": "a615eb77a6d71ec4",
        "g": "21136c5bf947bf7a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\"id\":\" \" , \"number_sensor\": 0, \"date\": \"\"}",
        "output": "json",
        "x": 500,
        "y": 260,
        "wires": [
            [
                "56aca167591a9861"
            ]
        ]
    },
    {
        "id": "986d86274742f555",
        "type": "http request",
        "z": "a615eb77a6d71ec4",
        "g": "21136c5bf947bf7a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost/luminar",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "luminar",
                "valueType": "other",
                "valueValue": "esp32"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Basic THVtaW5hcjpFc3AzMgo="
            }
        ],
        "x": 690,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "56aca167591a9861",
        "type": "function",
        "z": "a615eb77a6d71ec4",
        "g": "21136c5bf947bf7a",
        "name": "json_randon",
        "func": "\nmsg.payload[\"id\"] = msg.topic\nmsg.payload[\"number_sensor\"] = Math.ceil(Math.random()*3)\nmsg.payload[\"date\"] = Date()\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 200,
        "wires": [
            [
                "986d86274742f555"
            ]
        ]
    },
    {
        "id": "21136c5bf947bf7a",
        "type": "group",
        "z": "a615eb77a6d71ec4",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d67fad19486213c4",
            "c3e950d1a73708df",
            "e16a48c507f23ac4",
            "986d86274742f555",
            "56aca167591a9861"
        ],
        "x": 254,
        "y": 99
    },
    {
        "id": "7cb3d9d47c294c59",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "cb7a962830db8ade",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "65e6d48659bf3960",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 380,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "602705ce03699411",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "d0d61b1fe406f369",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 460,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "e110428d570f5253",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "7e565d06206439b7",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 220,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "56ec2fdd793e2a4a",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 500,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "8bafb85a65072086",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 540,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "e6b9e257d766c4a8",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 60,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "c88581ae39daee8f",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "6049b7a010f0dfcf",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 140,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "170cb52fb7eb42b3",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 180,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "c255a06b4a9f39d7",
        "type": "debug",
        "z": "72f702a92f68d934",
        "name": "Return",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 320,
        "wires": []
    },
    {
        "id": "034525a6fa6ada62",
        "type": "function",
        "z": "72f702a92f68d934",
        "name": "gera_id",
        "func": "msg.topic = Math.ceil(Math.random()*14)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "3a6ff8f9a931cc42"
            ]
        ]
    },
    {
        "id": "3a6ff8f9a931cc42",
        "type": "switch",
        "z": "72f702a92f68d934",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "e6b9e257d766c4a8"
            ],
            [
                "c88581ae39daee8f"
            ],
            [
                "6049b7a010f0dfcf"
            ],
            [
                "170cb52fb7eb42b3"
            ],
            [
                "7e565d06206439b7"
            ],
            [
                "e110428d570f5253"
            ],
            [
                "7cb3d9d47c294c59"
            ],
            [
                "cb7a962830db8ade"
            ],
            [
                "65e6d48659bf3960"
            ],
            [
                "602705ce03699411"
            ],
            [
                "d0d61b1fe406f369"
            ],
            [
                "56ec2fdd793e2a4a"
            ],
            [
                "8bafb85a65072086"
            ],
            [
                "50ec11ba63525084"
            ]
        ]
    },
    {
        "id": "50ec11ba63525084",
        "type": "subflow:a615eb77a6d71ec4",
        "z": "72f702a92f68d934",
        "name": "",
        "x": 730,
        "y": 580,
        "wires": [
            [
                "c255a06b4a9f39d7"
            ]
        ]
    },
    {
        "id": "73ee3740d6b20b2a",
        "type": "inject",
        "z": "72f702a92f68d934",
        "d": true,
        "name": "",
        "props": [],
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "034525a6fa6ada62"
            ]
        ]
    }
]